body {
  background-color: #f4f4f4;
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 40px;
}

h1 {
  color: #3366cc;
  font-size: 40px;
}

h2 {
    color: #0f0;
    font-size: 30px;
}
p {
  color: #d01c1c;
  font-size: 60px;
}
